html{
    visibility: hidden;
}
body{
    text-align: center;
    margin-top: 10%;
}
#temperature, #weatherDescription{
    line-height: 2em;
    font-size: 24px;;
}
#weatherIcon{
    font-size: 40px;
}

.btn{
    height: 40px;
}